{% extends 'polls/main.html' %}

{% block content %}
        <div class="post">
            {% if latest_question_list %}
                <ul>
                {% for question in latest_question_list %}
    <!--                <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>-->
                    <li><h1><a href="{% url 'polls:detail' pk=question.pk %}">{{ question.question_text }}</a></h1></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
{% endblock %}
